@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 50% 2%;
  --foreground: 0 0% 100%;
  --muted: 0 0% 12%;
  --muted-foreground: 0 0% 89%;
  --deleteTaskButton: #4f4f4f;
}

/* .light {
  --background: 230 40% 38%;
  --foreground: 240 50% 2%;
  --muted: 180 50% 98%;
  --muted-foreground: 240 50% 2%;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
