@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deleteButton: 0 0% 34%;
  --unactive-icon: 300 30% 60%;
}

.light {
  --background: 200 100% 95%;
  --foreground: 220 15% 12%;
  --muted: 0 0% 100%;
  --muted-foreground: 240 50% 2%;
  --navBar: 210 100% 85%;
}

.dark {
  --background: 220 15% 12%;
  --foreground: 0 0% 100%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 89%;
  --navBar: 220 15% 9%;
}

.custom {
  --background: 20 15% 12%;
  --foreground: 0 0% 100%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 89%;
  --navBar: 220 15% 9%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
